<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-4 col-sm-5 col-xs-8">
        <h1><%= user.username %></h1>
        <div class="thumbnail">
        <img src="<%= user.avatar %>" alt="I don't show my avatar">
        <div class="caption"><a href="mailto:<%= user.email%>"><%= user.email%></a></div>
        </div>
      
     
    </div>
    <div class="col-md-8 col-sm-7 col-xs-12">

        <ul>
       <% campgrounds.forEach(function(campground) { %>
        <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
       <% }); %>
       </ul>
    </div>
</div>

<%- include("../partials/footer") %>
